In [ ]:
import pandas as pd
import math
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
def village(x1,y1):
  x = int(math.floor(x1/2))
  y = int(math.floor(y1/2))
  return x,y

In [ ]:
def quadrant(x1,y1):
  x1_r = x1%2
  y1_r = y1%2  
  if x1_r ==1 and y1_r ==1 :
    Q = 1
  elif x1_r ==1 and y1_r ==0 :
    Q = 2
  elif x1_r == 0 and y1_r == 0 :
    Q = 3
  else:
    Q = 4
  return Q

In [ ]:
Positions = [(0,0), (5,5), (2,2), (3,4), (4,1)]
df = pd.DataFrame(Positions, columns=['x0', 'y0'])
df

   x0  y0
0   0   0
1   5   5
2   2   2
3   3   4
4   4   1

In [ ]:
Transform = []
Q = []
for x in Positions:
 Q.append(quadrant(x[0], x[1]))
 Transform.append(village(x[0], x[1]))

In [ ]:
q_dictionary ={}

for key,value in zip(Transform,Q):
    if key not in q_dictionary:
        q_dictionary[key]=[value]
    else:
        q_dictionary[key].append(value)

In [ ]:
group_count = [(x, Transform.count(x)) for x in set(Transform)]
group_count = dict(group_count)

In [ ]:
group_count

{(0, 0): 1, (1, 1): 1, (1, 2): 1, (2, 0): 1, (2, 2): 1}

In [ ]:
q_dictionary

{(0, 0): [3], (1, 1): [3], (1, 2): [2], (2, 0): [4], (2, 2): [1]}

In [ ]:
Q

[3, 1, 3, 2, 4]

In [ ]:
Transform

[(0, 0), (2, 2), (1, 1), (1, 2), (2, 0)]

In [ ]:
df_new = pd.DataFrame(Transform, columns=['xnew', 'ynew'])

print(df_new)

   xnew  ynew
0     0     0
1     2     2
2     1     1
3     1     2
4     2     0

In [ ]:
df_Q = pd.DataFrame(Q, columns=['q'])
df_Q

   q
0  3
1  1
2  3
3  2
4  4

In [ ]:
df_combine = pd.concat([df ,df_new, df_Q], axis=1)
df_combine

   x0  y0  xnew  ynew  q
0   0   0     0     0  3
1   5   5     2     2  1
2   2   2     1     1  3
3   3   4     1     2  2
4   4   1     2     0  4

In [ ]:
Transform.insert(0, (1,0))
Transform = sorted(set(Transform), key=Transform.index)

In [ ]:
Transform

[(1, 0), (0, 0), (2, 2), (1, 1), (1, 2), (2, 0)]

In [ ]:
def dist(coordinate1, coordinate2):
  return abs(coordinate1[0] - coordinate2[0]) + abs(coordinate1[1] - coordinate2[1])

distanc = []
i = 0
for j in range(i+1, len(Transform)):
  val = [dist(Transform[i],Transform[j])]
  distanc += val
distanc
Transform_drop = Transform[1:]

In [ ]:
distanc

[1, 3, 1, 2, 1]

In [ ]:
Transform_drop

[(0, 0), (2, 2), (1, 1), (1, 2), (2, 0)]

In [ ]:
def route(distanc):
  index_list = np.array(distanc).argsort().tolist()[::-1] 
  index_list = index_list[::-1]
  return index_list

In [ ]:
index_list = route(distanc)
path1 = []
path2 = []
for id,value in enumerate(index_list):
  if id%2 == 0:
    path1 += [Transform_drop[value]]
  elif id%2 == 1 :
    path2 += [Transform_drop[value]]
path2 = path2[::-1]
bestpath = path1+ path2

In [ ]:
bestpath

[(0, 0), (2, 0), (2, 2), (1, 2), (1, 1)]

In [ ]:
group_count

{(0, 0): 1, (1, 1): 1, (1, 2): 1, (2, 0): 1, (2, 2): 1}

In [ ]:
all_bestpath =[]
for i in bestpath: 
  newgroup_count = [(i)]*group_count[(i)]
  all_bestpath += newgroup_count

In [ ]:
all_bestpath

[(0, 0), (2, 0), (2, 2), (1, 2), (1, 1)]

In [ ]:
all_q =[]
for i in bestpath: 
  newq = q_dictionary[(i)]
  if len(newq) >1 :
    all_q += newq
  else:
    all_q += newq

In [ ]:
all_q

[3, 4, 1, 2, 3]

In [ ]:
seqwant = []
for id,value in enumerate(all_bestpath):
  seq = value + (all_q[id],)
  seqwant += [seq]

In [ ]:
seqwant

[(0, 0, 3), (2, 0, 4), (2, 2, 1), (1, 2, 2), (1, 1, 3)]

In [ ]:
def euclideanDistance(coordinate1, coordinate2):
  x_diff = coordinate2[0] - coordinate1[0]
  y_diff = coordinate2[1] - coordinate1[1]
  distance = abs(coordinate1[0] - coordinate2[0]) + abs(coordinate1[1] - coordinate2[1])
  return [(x_diff,y_diff)],[distance]

xy_walk= []
distances = []
for i in range(len(bestpath)-1):
    result = euclideanDistance(bestpath[i],bestpath[i+1])
    xy_walk += result[0]
    distances += result[1]

In [ ]:
xy_walk

[(2, 0), (0, 2), (-1, 0), (0, -1)]

In [ ]:
distances

[2, 2, 1, 1]